{% extends "Chat/base.html" %}
{% block body %}
  
    

	
<!--  chat box area -->

<div class="container-fluid" style=" height:auto; width: auto; color:#9999AC;"><br>
 <div class="row">
     <div class="col-md-5" >      
     </div>   
  
  <div class="col-md-7" >   
     <div class="chatBox">
	
     </div>
 </div>

<!--  sidebar area -->
 

</div><br><br><br><br>
	
<br><br>
<!--  input area  -->


<div class="container-fluid" style="height:auto; width: auto; color:#9999AC;"><br>
 <div class="row">
   <div class="col-md-5" >      
     </div>   
  <div class="col-md-6" >                  
   <div class="input-area" style="border-style: solid; border-width: 1px; border-radius: 10px; border-color: white;">
	<img width="45" height="20"  alt="" title="signup at gravatar.com with your email which is resgistered here to change your avatar">	
	<textarea class="input-box"></textarea>
	<button class="submit" style="background-color:green; color:white; border-style: solid; border-width: 1px; border-radius: 10px;">send</button>
   </div>   
  </div>
	
	</div>
</div> 

	</div>

				
{% endblock body %}

