{% extends "dashboard.html" %}

{% block content %}
{% load staticfiles %}
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="{% static 'js/jquery.elevatezoom.js' %}"></script>
</head>
   <div class="container-fluid" class="responsive" style="height: auto; width: auto; background-color: DarkCyan">
<h2 style="color:white"><center><b>"PAST DETAILS OF YOUR DONATION"<b></center></h2><br><br>
<div class="container-fluid" style="height:130%; width: auto; color:DarkCyan; background-color: PaleTurquoise">
    <a href="/dashboard/detail/"><center><h3 class='btn btn-warning btn-block' role="button" >Event History</h3> </center></a>
<br>
	    <div class="row">
        <div class="post">
		{% if posts %}
           <div class="col-md-3" >
  
			   
			<h3><label> ProductImage</label></h3><hr>
			  {% for Product in posts %}
			
                        <ul>                               
                          <a href="{% url 'post_detail_history' pk=Product.pk %}">  <img id="img88" src="{{ Product.docfile.url }}" width="60px" height=60px" alt="{{ Product.docfile.name }}"></a>
                               </li>
                        
                        </ul>
               <hr>
                {% endfor %}
			</div>
            
			<div class="col-md-2">
			<h3><label> Title: </label></h3><hr>
			
			{% for Product in posts %}<br><br><br><br><br>
			
			<h4 style="margin-top:-70px"><a href="{% url 'post_detail_history' pk=Product.pk %}">{{ Product.title }}</a></h4><hr>
			{% endfor %}
			</div>
			<div class="col-md-4">
			<h3><label> CreatedOn: </label></h3><hr>
			{% for Product in posts %}<br><br><br><br><br>
            <h4 style="margin-top:-70px"><a href="{% url 'post_detail_history' pk=Product.pk %}"> {{ Product.date_created }}</a> </h4>
			<hr>
{% endfor %}</div>
 <div class="col-md-3">
			<h3><label> Edit Product: </label></h3><hr>
			{% for Product in posts %}<br><br><br><br>
            <h6 style="margin-top:-65px"><a href="{% url 'post_edit_list' pk=Product.pk %}"> <button type="submit" class="btn btn-info btn-lg"  >Edit Product</button></a></h6><hr>
			
            {% endfor %}
			</div>
 {% else %}
                        <h4 style="color:white">STILL YOU HAVE NOT BEGIN CHARITY.</h4>
<p>*There is no any past history of your Donation.</p>
                {% endif %}
                      
            <div class="container">

<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="1.html">1</a></li>
    <li><a href="2.html">2</a></li>
    <li><a href="3.html">3</a></li>
    
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

</div></div>
			</div>
			
		            </div>
			</div>
	<script>	
     $("#img88").elevateZoom({scrollZoom : true});
    </script>
{% endblock content %}
